.label {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: minmax(0, auto);
  margin-bottom: 10px;
}

@media (max-width: 420px) {
  .label {
    grid-template-columns: 1fr 1fr;
  }
}
