.menuBurger {
  display: none;
}

.searchWrapper {
  padding: 10px;
}

.close {
  margin-top: 30px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
}

@media (max-width: 850px) {
  .menuBurger {
    display: block;
    margin-right: 3px;
  }

  .menuBurger span svg {
    transform: scale(1.6);
  }
}
