.menu {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.menu > li {
  flex: 1;
  transition: 0.3s ease;
}

@media (hover: hover) {
  .menu:hover > li:not(:hover) {
    opacity: 0.5;
  }
}

@media (hover: none) {
  .menu:focus > li:not(:hover) {
    opacity: 0.5;
  }
}
