.item {
  background-color: #ea80fc;
  border-radius: 5px;
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  transition: 0.2s ease-in-out;
}

.item:hover {
  background-color: white;
}

.item p {
  transition: 0.2s ease-in-out;
}

.item:hover p {
  color: #ea80fc;
}
