.item {
  background-color: #ea80fc;
  border-radius: 5px;
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  transition: 0.2s ease-in-out;
}

.item p {
  transition: 0.2s ease-in-out;
}

@media (hover: hover) {
  .item:focus {
    background-color: white;
  }

  .item:focus p {
    color: #ea80fc;
  }
}

@media (hover: none) {
  .item:focus {
    background-color: white;
  }

  .item:focus p {
    color: #ea80fc;
  }
}
