.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  margin-inline: auto;
}

.wrapper > li {
  transition: 0.3s ease;
}

.wrapper:hover > li:not(:hover) {
  opacity: 0.5;
}

@media (max-width: 900px) {
  .wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 520px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
